.container {
  margin: 0;
}
* {
  box-sizing: border-box;
}

#externalContainerResults {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#segmentWithImage {
  width: 200px;
}
