.container {
  margin: 0px;
}

.externalSegment {
  background-color: #1e1f26 !important;
  border: 2px solid #595959 !important;
}

#externalContainerResults {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#segmentWithImage {
  width: 200px;
}
