.container {
  /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
  margin: 0px;
}

.externalSegment {
  background-color: #1e1f26 !important;
  border: 2px solid #595959 !important;
}

#externalContainerResults {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#segmentWithImage {
  width: 200px;
}

/* #transitionalPortal {
  position: absolute;
  right: 0px;
  bottom: 0;
} */

/* #pictureAndTitle {
  border: 2px solid red;
} */
