.externalForm {
  /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
  background-color: #1e1f26;
  color: red !important;
}

.ui.form .field > label {
  color: #9b9dad !important;
}
.ui.form .grouped.fields > label {
  color: #9b9dad !important;
}
