.externalForm {
  background-color: #1e1f26;
}

.ui.form .field > label {
  color: #9b9dad !important;
}
.ui.form .grouped.fields > label {
  color: #9b9dad !important;
}

#searchButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
